@import "tailwindcss";
@import "@nuxt/ui";

@source "../content/**/*";

@source inline('block');
@source inline('overflow-scroll');
@source inline('whitespace-nowrap');
@source inline('!bg-green-500');
@source inline('!bg-yellow-500');
@source inline('!bg-red-500');
@source inline('!text-white');
@source inline('dark:!text-white');
@source inline('!text-black');
@source inline('!text-red-500');
@source inline('!text-youtube');
@source inline('!text-arduino');
@source inline('!text-windows');

@theme static {
  --shadow-fixed-button: 0px -2px 2px var(--ui-border-muted);

  --color-youtube: hsl(0, 100%, 50%);
  --color-arduino: hsl(182, 100%, 31%);
  --color-windows: hsl(207, 100%, 42%);
;
}

#content img {
  border-radius: var(--radius-md);
}
